* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: #bedce6;
  }
  
  /* Navigation bar styles */
  nav {
    background: #081530de;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  nav .logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: background 0.3s;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    background: #55a6e4;
  }
  
  /* Responsive menu styles */
  .checkbtn {
    font-size: 30px;
    color: white;
    display: none;
    cursor: pointer;
  }
  
  #check {
    display: none;
  }
  
  /* Mobile Styles */
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
  
    nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
    }
  
    nav ul li {
      margin: 20px 0;
    }
  
    nav ul li a {
      font-size: 20px;
    }
  
    #check:checked ~ ul {
      left: 0;
    }
  }
  
  /* Section to prevent overlapping */
  section {
    height: calc(100vh - 80px);
  }
  