body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    /* background-image: url("../images/bg.jpg"); */
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: medium;
}

button {
    background-color: #5b8ed1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
}

button:hover {
    background-color: #5b8ed1;
}

.resume-output {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #fafafa;
}
section{
   
    background-size: 500px;
    background-blend-mode: darken;
}

